@use 'sass:list';
@use 'sass:meta';

@if meta.global-variable-exists('breakpoints') ==
  false or
  meta.mixin-exists('media') ==
  false
{
  @warn 'Make sure you have imported and setup @include-media first.';
}

$im-flexgrid-settings: (
  'support-check': false,
  'support-type': '@supports',
  // otherwise support-type: 'modernizr'
  'total-columns': 12,
  // Total columns
  'container-class': 'container',
  'grid-class': 'grid',
  'cell-class': 'grid__cell',
  'grid-separator': '--',
  'number-separator': '-',
  'breakpoint-separator': \@,
  'include-offset': true,
  'offset-class': 'offset',
  'include-push': true,
  'push-class': 'push',
  'include-pull': true,
  'pull-class': 'pull',
  'include-squish': true,
  'squish-class': 'squish',
  'include-order': true,
  'order-class': 'order',
  'include-wrap-alignment': true,
  'include-direction-alignment': true,
  'include-justify-alignment': true,
  'include-item-alignment': true,
  'include-content-alignment': true,
  'include-self-alignment': true,
  'gutter-size': 1rem,
  'default-gutters': true,
  'include-gutterless': true,
  // 'use-flex-longhand': false, // @todo
  'include-max-width': true,
  'include-trailer': true,
  'trailer-size': 1rem,
) !default;
$im-flexgrid-wrap-align-settings: (
  'wrap': wrap,
  'nowrap': nowrap,
  'wrap-reverse': wrap-reverse,
) !default;
$im-flexgrid-direction-align-settings: (
  'column': column,
  'column-reverse': column-reverse,
  'row': row,
  'row-reverse': row-reverse,
  'unset': unset,
) !default;
$im-flexgrid-justify-align-settings: (
  'justify-start': flex-start,
  'justify-end': flex-end,
  'justify-center': center,
  'justify-between': space-between,
  'justify-around': space-around,
  'justify-evenly': space-evenly,
) !default;
$im-flexgrid-item-align-settings: (
  'item-start': flex-start,
  'item-end': flex-end,
  'item-center': center,
  'item-baseline': baseline,
  'item-stretch': stretch,
) !default;
$im-flexgrid-content-align-settings: (
  'content-start': flex-start,
  'content-end': flex-end,
  'content-center': center,
  'content-between': space-between,
  'content-around': space-around,
  'content-stretch': stretch,
) !default;
$im-flexgrid-self-align-settings: (
  'self-start': flex-start,
  'self-end': flex-end,
  'self-center': center,
  'self-baseline': baseline,
  'self-stretch': stretch,
) !default;
$im-flexgrid-gutter-settings: (
  'no-gutters': 0,
  'half-gutters': calc(im-setting('gutter-size') / 2),
  'gutters': im-setting('gutter-size'),
  'double-gutters': im-setting('gutter-size') * 2,
) !default;
$im-flexgrid-breakpoints: list.length($breakpoints);
