// =============================================================================
// @name Menu Component
// @description Styling for a standard menubar.
// @group components
// @file src/sass/_partials/5-components/_menu.component.scss
// =============================================================================

// .c-menu {
//
// }

.c-menu--level-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

// .c-menu__item {
//
// }

// .c-menu__link {
//
// }

// .c-menu__text {
//
// }

// .c-menu--level-2 {
//
// }

// .c-menu__item--level-2 {
//
// }

// .c-menu__link--level-2 {
//
// }
