/* stylelint-disable max-nesting-depth */

@mixin im-flexgrid-col-classes($i) {

  /* Basic Column Classes */

  %base-col {
    @include im-flexgrid-column-base;

    @if im-setting('default-gutters') {
      margin-left: #{im-setting('gutter-size') / 2};
      margin-right: #{im-setting('gutter-size') / 2};
    }

    @if im-setting('include-trailer') {
      margin-bottom: im-setting('trailer-size');
    }

    @if im-setting('include-trailer') {
      &.#{im-setting('cell-class')}--no-trailer {
        margin-bottom: 0;
      }
    }

    &.#{im-setting('cell-class')}--no-gutters {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .#{im-setting('cell-class')} {
    @extend %base-col;
  }

  @for $n from 1 through $i {

    %grid-col-#{$n} {
      @include im-flexgrid-col-calc($n);
    }

    @if $n == im-setting('total-columns') {
      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n},
      .#{im-setting('cell-class')}#{im-setting('grid-separator')}full {
        @extend %base-col;
        @extend %grid-col-#{$n};
      }
    }
    @else {
      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n} {
        @extend %base-col;
        @extend %grid-col-#{$n};
      }
    }
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}none {
    flex: none;
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}auto {
    @extend %base-col;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: auto;
  }
}

@mixin im-flexgrid-responsive-col-classes($i, $breakpoint-name) {
  
  /* @#{$breakpoint-name} Responsive Columns Classes */
  
  %base-col-#{$breakpoint-name} {
    // width: 100%;
    min-height: 1px;
    flex-shrink: 0;
    flex-grow: 0;

    @if im-setting('default-gutters') {
      margin-left: #{im-setting('gutter-size') / 2};
      margin-right: #{im-setting('gutter-size') / 2};
    }

    @if im-setting('include-trailer') {
      margin-bottom: im-setting('trailer-size');
    }
  }

  @for $n from 1 through $i {

    %grid-col-#{$n}-#{$breakpoint-name} {
      @include im-flexgrid-col-calc($n);
    }

    .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n}#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
      @extend %base-col-#{$breakpoint-name};
      @extend %grid-col-#{$n}-#{$breakpoint-name};
    }
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}none#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
    @extend %base-col-#{$breakpoint-name};
    flex: none;
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}auto#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
    @extend %base-col-#{$breakpoint-name};
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: auto;
  }
}
