/* stylelint-disable max-nesting-depth */

/* Pull */

@mixin im-flexgrid-pull-classes($i) {

  @if im-setting('include-pull') && $i == 1 {

    .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{im-setting('pull-class')}-auto {
      right: auto;
    }
  }

  @for $n from 1 through $i {

    %grid-pull-#{$n} {
      right: $n / $i * 100%;
    }

    @if im-setting('include-pull') {

      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{im-setting('pull-class')}-#{$n} {
        @extend %grid-pull-#{$n};
      }
    }

    @if im-setting('include-squish') {

      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{im-setting('squish-class')}-#{$n} {
        @extend %grid-pull-#{$n};
      }
    }
  }
}

@mixin im-flexgrid-responsive-pull-classes($i, $breakpoint-name) {

  @if im-setting('include-pull') && $i == 1 {

    .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{im-setting('pull-class')}-auto#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
      right: auto;
    }
  }

  @for $n from 1 through $i {

    %grid-pull-#{$n}-#{$breakpoint-name} {
      right: $n / $i * 100%;
    }

    @if im-setting('include-pull') {

      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{im-setting('pull-class')}-#{$n}#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
        @extend %grid-pull-#{$n}-#{$breakpoint-name};
      }
    }

    @if im-setting('include-squish') {

      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{im-setting('squish-class')}-#{$n}#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
        @extend %grid-pull-#{$n}-#{$breakpoint-name};
      }
    }
  }
}
