@mixin im-flexgrid-row-base {
  /* Base Row CSS */
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin im-flexgrid-column-base {
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 1px;
}

@mixin im-flexgrid-col-calc($columns, $include-gutters) {
  @if $include-gutters == true {
    flex-basis: calc(
      #{calc($columns / im-setting('total-columns')) *
        100%} -
        #{im-setting('gutter-size')}
    );
  } @else {
    flex-basis: calc($columns / im-setting('total-columns')) * 100%;
  }

  @if im-setting('include-max-width') == true and $include-gutters == true {
    max-width: calc(
      #{calc($columns / im-setting('total-columns')) *
        100%} -
        #{im-setting('gutter-size')}
    );
  } @else if
    im-setting('include-max-width') ==
    true and
    $include-gutters ==
    false
  {
    max-width: calc($columns / im-setting('total-columns')) * 100%;
  }
}

@mixin im-flexgrid-responsive-col-calc(
  $columns,
  $divider,
  $include-gutters: true
) {
  @if $include-gutters == true {
    flex-basis: calc(
      #{calc(im-setting('total-columns') / $columns / $divider) *
        100%} -
        #{im-setting('gutter-size')}
    );
  } @else {
    flex-basis: calc(im-setting('total-columns') / $columns / $divider) * 100%;
  }

  @if im-setting('include-max-width') == true and $include-gutters == true {
    max-width: calc(
      #{calc(im-setting('total-columns') / $columns / $divider) *
        100%} -
        #{im-setting('gutter-size')}
    );
  } @else if
    im-setting('include-max-width') ==
    true and
    $include-gutters ==
    false
  {
    max-width: calc(im-setting('total-columns') / $columns / $divider) * 100%;
  }
}

@mixin im-flexgrid-push-calc($columns) {
  left: #{calc($columns / im-setting('total-columns')) * 100%};
}

@mixin im-flexgrid-pull-calc($columns) {
  right: #{calc($columns / im-setting('total-columns')) * 100%};
}
