@mixin im-flexgrid-container-classes {
  .#{im-setting('container-class')} {
    padding-right: #{calc(im-setting('gutter-size') / 2)};
    padding-left: #{calc(im-setting('gutter-size') / 2)};
  }
}

@mixin im-flexgrid-responsive-container-classes($breakpoint-name) {
  .#{im-setting('container-class')}#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
    padding-right: #{calc(im-setting('gutter-size') / 2)};
    padding-left: #{calc(im-setting('gutter-size') / 2)};
  }
}
