@mixin im-flexgrid-col-classes($i) {
  /* Basic Column Classes */

  %base-col {
    @include im-flexgrid-column-base;

    @if im-setting('default-gutters') {
      margin-right: #{calc(im-setting('gutter-size') / 2)};
      margin-left: #{calc(im-setting('gutter-size') / 2)};
    }

    @if im-setting('include-trailer') {
      margin-bottom: im-setting('trailer-size');
    }

    @if im-setting('include-trailer') {
      &.#{im-setting('cell-class')}--no-trailer {
        margin-bottom: 0;
      }
    }

    &.#{im-setting('cell-class')}--no-gutters {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .#{im-setting('cell-class')} {
    @extend %base-col;
  }

  @for $n from 1 through $i {
    %grid-col-#{$n} {
      @include im-flexgrid-col-calc($n, true);
    }

    %grid-col-#{$n}--no-gutters {
      @include im-flexgrid-col-calc($n, false);

      margin-right: 0;
      margin-left: 0;
    }

    @if $n == im-setting('total-columns') {
      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n},
      .#{im-setting('cell-class')}#{im-setting('grid-separator')}full {
        @extend %base-col;
        @extend %grid-col-#{$n};

        &.#{im-setting('cell-class')}#{im-setting('grid-separator')}no-gutters {
          @extend %grid-col-#{$n}#{im-setting('grid-separator')}no-gutters;
        }
      }
    } @else {
      .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n} {
        @extend %base-col;
        @extend %grid-col-#{$n};

        &.#{im-setting('cell-class')}#{im-setting('grid-separator')}no-gutters {
          @extend %grid-col-#{$n}#{im-setting('grid-separator')}no-gutters;
        }
      }
    }
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}none {
    flex: none;
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}auto {
    @extend %base-col;

    flex: 0 0 auto;
    width: auto;
  }
}

@mixin im-flexgrid-responsive-col-classes($i, $breakpoint-name) {
  /* @#{$breakpoint-name} Responsive Columns Classes */

  %base-col-#{$breakpoint-name} {
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;

    @if im-setting('default-gutters') {
      margin-right: #{calc(im-setting('gutter-size') / 2)};
      margin-left: #{calc(im-setting('gutter-size') / 2)};
    }

    @if im-setting('include-trailer') {
      margin-bottom: im-setting('trailer-size');
    }
  }

  @for $n from 1 through $i {
    %grid-col-#{$n}-#{$breakpoint-name} {
      @include im-flexgrid-col-calc($n, true);
    }

    %grid-col-#{$n}-#{$breakpoint-name}-no-gutters {
      @include im-flexgrid-col-calc($n, false);
    }

    .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n}#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
      @extend %base-col-#{$breakpoint-name};
      @extend %grid-col-#{$n}-#{$breakpoint-name};
    }

    .#{im-setting('cell-class')}#{im-setting('grid-separator')}#{$n}#{im-setting('breakpoint-separator')}#{$breakpoint-name}-no-gutters {
      @extend %grid-col-#{$n}-#{$breakpoint-name}-no-gutters;
    }
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}none#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
    @extend %base-col-#{$breakpoint-name};

    flex: none;
  }

  .#{im-setting('cell-class')}#{im-setting('grid-separator')}auto#{im-setting('breakpoint-separator')}#{$breakpoint-name} {
    @extend %base-col-#{$breakpoint-name};

    flex: 0 0 auto;
    width: auto;
  }
}
