@import 'variables/im-flexgrid-vars';
@import 'functions/im-flexgrid-setting';
@import 'mixins/im-flexgrid-container';
@import 'mixins/im-flexgrid-row';
@import 'mixins/im-flexgrid-cols';
@import 'mixins/im-flexgrid-equal-cols';
@import 'mixins/im-flexgrid-gutters';
@import 'mixins/im-flexgrid-offset';
@import 'mixins/im-flexgrid-push';
@import 'mixins/im-flexgrid-pull';
@import 'mixins/im-flexgrid-order';
@import 'mixins/im-flexgrid-alignment';

@include im-flexgrid-container-classes;
@include im-flexgrid-row-classes;

@each $i in im-setting('total-columns') {

  @include im-flexgrid-equal-col-classes($i);
  @include im-flexgrid-col-classes($i);
  @include im-flexgrid-push-classes($i);
  @include im-flexgrid-pull-classes($i);
  @include im-flexgrid-offset-classes($i);
}

@include im-flexgrid-order-classes;
@include im-flexgrid-gutter-classes;
@include im-flexgrid-alignment-classes;

// Loop through all the breakpoints.
@each $breakpoint in $breakpoints {

  // Get the breakpoint name.
  $breakpoint-name: nth($breakpoint, 1);

  @include media(unquote("#{'>=' + $breakpoint-name}")) {

    @include im-flexgrid-responsive-container-classes($breakpoint-name);
    @include im-flexgrid-responsive-row-classes($breakpoint-name);

    @each $i in im-setting('total-columns') {

      @include im-flexgrid-responsive-equal-col-classes($i, $breakpoint-name);
      @include im-flexgrid-responsive-col-classes($i, $breakpoint-name);
      @include im-flexgrid-responsive-push-classes($i, $breakpoint-name);
      @include im-flexgrid-responsive-pull-classes($i, $breakpoint-name);
      @include im-flexgrid-responsive-offset-classes($i, $breakpoint-name);
    }

    @include im-flexgrid-responsive-order-classes($breakpoint-name);
    @include im-flexgrid-responsive-gutter-classes($breakpoint-name);
    @include im-flexgrid-responsive-alignment-classes($breakpoint-name);

  }
}
